[submodule "roles/resolv"]
	path = roles/resolv
	url = git://github.com/ahuffman/ansible-resolv.git
[submodule "roles/jenkins"]
	path = roles/jenkins
	url = git://github.com/Ruin0x11/ansible-jenkins-pipeline.git
