[submodule "roles/resolv"]
	path = roles/resolv
	url = git://github.com/ahuffman/ansible-resolv.git
[submodule "roles/jenkins"]
	path = roles/jenkins
	url = git://github.com/Ruin0x11/ansible-jenkins-pipeline.git
[submodule "szurubooru"]
	path = szurubooru
	url = https://github.com/rr-/szurubooru
[submodule "app/synapse"]
	path = app/synapse
	url = https://github.com/Luminarys/synapse
[submodule "app/receptor"]
	path = app/receptor
	url = https://git.sr.ht/~sircmpwn/receptor
[submodule "app/invidious"]
	path = app/invidious
	url = git://github.com/Ruin0x11/invidious.git
	branch = player-controls
[submodule "app/niacademy"]
	path = app/niacademy
	url = https://github.com/ruin0x11/niacademy
